<div class="header-comp">
  <div class="header-comp__top">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img class="logo" src="/logo.png" />
        </div>
        <div class="col-sm-9">
          <ul class="navbar-comp">
            <li class="navbar-comp__item navbar-comp__item--active">
              <a href="#" class="navbar-comp__link navbar-comp__link--active">Dashboard</a> 
            </li>
            <li class="navbar-comp__item">
              <a href="#" class="navbar-comp__link">Sign In</a> 
            </li>
            <li class="navbar-comp__item">
              <a href="#" class="navbar-comp__link">Classes</a> 
            </li>
            <li class="navbar-comp__item">
              <a href="#" class="navbar-comp__link">Workshops</a> 
            </li>
            <li class="navbar-comp__item">
              <a href="#" class="navbar-comp__link">Appointments</a> 
            </li>
            <li class="navbar-comp__item">
              <a href="#" class="navbar-comp__link">Client Home</a> 
            </li>
            <li class="navbar-comp__item">
              <a href="#" class="navbar-comp__link">Retail</a> 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="header-comp__bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <ul class="subnav-comp">
            <li class="subnav-comp__item">
              <a href="#" class="subnav-comp__link">Dashboard</a>
            </li>
            <li class="subnav-comp__item">
              <a href="#" class="subnav-comp__link subnav-comp__link--active">Business Overview</a>
            </li>
            <li class="subnav-comp__item">
              <a href="#" class="subnav-comp__link">Schedule</a>
            </li>
            <li class="subnav-comp__item">
              <a href="#" class="subnav-comp__link">Reports</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
