<table class="program-table">
  <thead class="program-table__head"> 
    <tr>
      <th>All Programs </th>
      <th>Monthly Sales</th>
      <th>Monthly Attendance</th>
    </tr>
  </thead>
  <tbody>
    {{#each programs as |program|}}
    <tr>
      <td>
        {{program.Name}}
        <div class="program-table__more">more</div>
      </td>
      <td>
        {{format-currency program.TotalMonthlySales true}}
      </td>
      <td>
        {{program.MonthlyAttendance}} <span class="program-table__units">visits</span>
      </td>
    </tr>
    {{/each}} 
  </tbody>
</table>
