<h3 class="program-new-modal__title">New Program</h3>
<form>
  <fieldset class="form-group row">
    <label class="col-sm-4 form-control-label" for="name">Program Name</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="name" name="Name" placeholder="Yoga Classes, Yoga Privates, etc.">
    </div>
  </fieldset>
   <fieldset class="form-group row">
    <label class="col-sm-4 form-control-label" for="programType">Program Type</label>
    <div class="col-sm-8">
      <select class="form-control" name="ProgramType" id="programType">
        <option value="count-series">Count Series</option>
        <option value="time-series">Time Series</option>
        <option value="membership">Membership</option>
      </select>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <label class="col-sm-4 form-control-label" for="defaultCapacity">Default Capacity</label>
    <div class="col-sm-8">
      <input type="number" class="form-control" name="defaultCapacity" id="defaultCapacity">
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <label class="col-sm-4 form-control-label">Allow Online Scheduling</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="isAllowOnlineSchedule" Checked value="Yes"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" name="isAllowOnlineSchedule" value="No"> No
      </label>
    </div>
  </fieldset>
  <fieldset class="form-group row">
    <label class="col-sm-4 form-control-label">Tabs This Program is On</label>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ProgramTabs" id="exampleRadios2" value="Classes">
              Classes
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ProgramTabs" id="exampleRadios2" value="Appointments">
              Appointments
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ProgramTabs" id="exampleRadios2" value="Workshops">
              Workshops
            </label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ProgramTabs" id="exampleRadios2" value="Outside">
              Outside
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ProgramTabs" id="exampleRadios2" value="Inside">
              Inside
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="ProgramTabs" id="exampleRadios2" value="Gym">
              Gym
            </label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="row">
    <div class="col-sm-12 ">
      <div {{action "create_program"}} class="button-green--secondary pull-sm-left" >
        Cancel
      </div>
      <div {{action "create_program"}} class="button-green pull-sm-right" >
        Submit
      </div>
    </div>
  </div>
</form>