<div class="row ">
	<div class="col-sm-9">
		<span class="program-card__program-name">{{name}}</span>
	</div>
	<div class="col-sm-3">
		<div class="program-card__edit-button"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
	  <div class="program-card__graph-title">Sales by month</div> 
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
	  <img src="/graph.png" />
	</div>
</div>
<div class="program-card__sales-detail">
	<div class="row row--no-gutter">
	  <div class="col-sm-4">
		Totaly Monthly 
    <br> 
		<span class="text--bigger">Sales</span>
	  </div>
	  <div class="col-sm-4 text-xs-center">
		Current <br>
		<span class="program__card--current-total">{{format-currency totalMonthlySales}}</span>
	  </div>
	  <div class="col-sm-4 text-xs-center">
		1- Year
		<img src="/spark_line.png" />
	  </div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
	  {{#liquid-if isExpanded }}       
		<table class="program-price-table">
		  <thead>
			<tr>
			  <th class="text--bigger">
				Price Name
			  </th>
			  <th>
				Current
			  </th>
			  <th class="text-xs-center">
				1- Year
			  </th>
			</tr>
		  </thead>
		  <tbody>
			{{#each pricingOptions as |pricingOption index| }}
			  <tr>
				<td>
				  <div class="program-price-table__program-name">
					{{pricingOption.Name}}
				  </div>
				</td>
				<td>
				  {{format-currency pricingOption.Sales}}
				</td>
			   {{#if (eq pricingOptions.firstObject pricingOption)}}
				<td class="text-xs-center" rowspan="{{pricingOptions.length}}">
				  <img src="/spark_lines.png" />
				</td>
				{{/if}}
			  </tr>
			{{/each}}
		  </tbody>
		</table>
		<div {{action "toggleExpand"}} class="program__card--toggle-expand">less</div>
	  {{else}}
		<div {{action "toggleExpand"}} class="program__card--toggle-expand">more</div>  
	  {{/liquid-if}} 
	</div>   
</div>
