/* Colors */
$light-green: #ecf7f2;
$dark-green:  #819c76;

$link-color: $dark-green !default;
$grid-gutter-width:  9px !default;
$input-border-focus: $dark-green !default;

@import 'bootstrap';           /* everything you ever wanted */
@import 'button-green';        /* button-green */
@import 'header-comp';         /* header-comp, navbar-comp, subnav-comp */
@import 'program-new-button';  /* program-new-button */
@import 'program-new-modal';   /* program-new-modal */
@import 'program-card';        /* program-card program-price-table */
@import 'program-table';       /* program-table */
@import 'utilities';

html, body {
  height: 100%;
}

body {
  background-color: #f4f4ee;
  -webkit-font-smoothing: antialiased;
}