/*

 header-comp
 navbar-comp
 subnav-comp

*/

.header-comp {    
 margin-left: -4.5px; //remove bootstrap gutters
 margin-right: -4.5px; //remove bootstrap gutters
}

.header-comp__top {
  background-color: $light-green;
  border-bottom: 1px solid #d4e2e6;
  height: 72px;
  box-sizing: border-box;
}

.header-comp__bottom{
  background-color: #fff;
  border-bottom: 1px solid rgb(221, 233, 236);
  box-shadow: 0px -3px 6px rgba(221, 233, 236, 0.71);
  margin-bottom: 20px;
}

.logo {
  padding: 10px 15px;
  max-width: 100%;
}


.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav__item {
  float: left;
}

/* Navbar-Comp - Nested Block */

.navbar-comp {
  @extend .nav;
  padding: 0 5px;
  margin-top: 23px;
}

.navbar-comp__item {
  @extend .nav__item;  
  background: #fff; 
	background: -webkit-linear-gradient(#fff 0%, #eef3f1 100%);
	background: -o-linear-gradient(#fff 0%, #eef3f1 100%);
	background: linear-gradient(#fff 0%, #eef3f1 100%); 
  border-top: 1px solid #d4e2e6;
  border-bottom: 1px solid #d4e2e6;
  height: 41px;
  padding: 9px 20px;
  margin-top: 8px;
  transition: color .3s;
}



.navbar-comp__item--active {
  @extend .nav__item;
  background: #fff; 
  background-image: none;
  height: 43px;
  border: 1px solid #bababa;
  border-bottom: none;
  box-shadow: 0px 8px 7px -2px #000;
  border-radius: 5px 5px 0 0;
  padding: 9px 27px;
  margin-top: 6px;
  position: relative;
}

.navbar-comp__link {
  color: $dark-green;
  position: relative;
  font-size: .9rem;
  letter-spacing: .025rem;
  transition: color .3s;
}

.navbar-comp__link:after {
  content: " ";
  position: absolute;
  border-right: 1px solid #e0e0e0;
  height: 32px;
  padding-left: 20px;
  bottom: -7px;
}

.navbar-comp__link--active {
  color: #000;
}

.navbar-comp__link--active:after {
  display: none;
}

/* Subnav-Comp - Nested Block */

.subnav-comp {
  @extend .nav;
}

.subnav-comp__item {
  @extend .nav__item;
  padding:  15px 20px;
}

.subnav-comp__item:first-child {
  padding: 15px 20px 15px 0;
}

.subnav-comp__link {
  transition: color .3s;
  color: #666;
  
}

.subnav-comp__link--active{
  @extend .nav__item;
  color: #000;
  
}