/*

program-table

*/

.program-table {
  margin-left: 50px;
  color: #67615b;
  margin-top: 30px;
  width: 100%;
  font-size: .85rem;
  font-weight: 600;
  td {
    padding-top: 15px;
    width: 120px;
    vertical-align: top;
    display: inline-block;
  }
}

.program-table__head {
  color: #969189;
  font-size: .6rem;
  border-bottom: 1px solid rgba(206, 206, 206, 0.5);
  
  th:first-child {
    font-size: .8rem;
  }
  
  th {
    font-weight: 400;
    padding-bottom: 4px;
    width: 120px;
    display: inline-block;
  }
}

.program-table__more {
  font-size: .7rem;
  font-weight: 400;
  color: #969189;
  position: relative;
  top: -3px;
  transition: color .3s;
  cursor: pointer;
}

.program-table__more:hover {
  text-decoration: underline;
  color: gray;
}

.program-table__units{
  font-size: .7rem;
}

