/*

program-new-modal

*/
.program-new-modal {
  border-radius: 4px;
  border-color: #fdfdfd;
  background-color: #f4f4ee;
  width: 50em;
  max-width: 50em;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.38);
  color: #67615b;
  font-size: .8rem;
}

.program-new-modal__title {
  border-bottom: 1px solid rgba(206, 206, 206, 0.5);
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #555;
}

/* Adjusts for bootstrap forms */

.form-control-label {
  padding: 0.375rem .4rem;
  margin-bottom: 0;
  font-weight: 600;
  font-size: .8rem;
}

.radio-inline {
      padding: 0.375rem 1.25rem;
}

.checkbox {
  padding: 0.4rem 0;
}

.form-control {
  height: 2rem;
  border: none;
  border-bottom: 1px solid rgba(206, 206, 206, 0.5);
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  font-size: .8rem;
}