/*

 program-new-button

*/

.program-new-button {
  @extend .button-green;
	width: 73px;
	height: 67px;
	margin:0;
	padding:0;
	color: #000;
	font-size: 1em;	
	line-height: 1.8em;  
}

.program-new-button__icon {
  position: relative;
  top: 20px;
  left: 22px;
}

.program-new-button__text {
  font-size: .71rem;
  font-weight: 600;
}