/*

 program-card
 program-price-table

*/


.program-card {
  padding: 15px 15px 3px 15px;
  box-shadow: 0px 2px 4px rgba(0,0,0,.15);
  border: 1px solid #fdfdfd;
  background-color: #fff;
  border-radius: 3px;
  max-width: 100%;
  width: 240px;
  font-size: .58rem;
  color: #ababab;
  float: left;
  margin-right: 25px;
  &:first-child {
    margin-left: 50px;
  }
}
.program-card__program-name {
  font-weight: 600;
  font-size: 1rem;
  color: #4d4d42;
}

.program-card__edit-button {
  height: 22px;
  width: 22px;
  background: url("/pencil_icons.png") 0px -15px;
  background-repeat: no-repeat;
  border: 1px solid #eee;
  background-color: #fcfcfa;
  border-radius: 3px;
  float: right;
  cursor: pointer;
}

.program-card__edit-button:hover {
  background: url("/pencil_icons.png") 0px 2px;
}

.program-card__graph-title {
  color: #ababab;
  font-size: .70rem;
  margin-top: 17px;
}

.program-card__sales-detail {
  background-color: #fbfbf6;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  margin: 5px -15px 3px;
  padding: 10px 15px 5px 15px;
}

.program__card--current-total {
  @extend .text--bigger;
  padding-left: 4px;
  color: #67615b;
}

.program__card--toggle-expand {
  color: #ababab;
  font-size: .7rem;
  transition: color .3s;
  cursor: pointer;
}

.program__card--toggle-expand:hover {
  text-decoration: underline;
  color: gray;
}

/* Program Price Table  */

.program-price-table {
  width: 100%;
  margin: 7px 0;
  th {
    font-weight: 400;
    width: 33.33%;
  }
  td {
    vertical-align: bottom;
  }
}

.program-price-table__program-name {
  font-size: .7rem;
  color: #887d72;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 87px;
  padding-right: 9px;
  min-width: 100%;
}