<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      {{header-comp}}
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-sm-offset-1">       
         {{program-new-button isDisplayProgramNewModal=isDisplayProgramNewModal }}       
      </div>
      <div class="col-sm-9">
        {{#each featuredPrograms as |program|}}
           {{program-card name=program.Name totalMonthlySales=program.TotalMonthlySales pricingOptions=program.pricingOptions}}
        {{/each}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 col-sm-offset-2">
        {{program-table programs=programs }}
      </div>
    </div>
  </div>
</div>
{{liquid-modal}}